.functionality__form {
  margin-top: 1.5em;
  display: flex;
  gap: 10px;
}

.functionality__input {
  width: 100%;
  padding: 1em;
  margin-bottom: 1em;
  border: none;
  border-radius: 1em;
  font-size: 16px;
  background-color: #1F2937;
  color: #6B7280;
  outline: none;
}

.functionality__buton {
  width: 100%;
  background-color: #EC4899;
  border: none;
  border-radius: 1em;
  color: #fff;
  margin-bottom: 1em;
  flex-basis: 25%;
  font-size: 14px;
  cursor: pointer;
}