      .task {
        margin-top: 1.5em;
        color: #fff;
        padding: 1em;
        margin-bottom: 0.5em;
        border: none;
        border-radius: 1em;
        font-size: 16px;
        background-color: #1F2937;
      }
      
      .task__label {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
      }
      
      .task__input {
        width: 0;
        height: 0;
        overflow: hidden;
        clip: rect(11px 11px 11px 11px);
        position: absolute;
      }
      
      .task__span {
        cursor: pointer;
        padding: 11px 11px;
        border: 1px solid #fff;
        border-radius: 50%;
        background-color: transparent
      }
      
      .task__input:checked+.task__span {
        border: 1px solid #EC4899;
        background-image: url('..//images/checbox.svg');
        background-position: bottom;
      }
      
      .tasks__date {
        font-size: 10px;
        margin-right: 5px;
      }
      
      .tasks__text {
        flex-basis: 510px;
        margin-left: 10px;
      }
      
      .delete {
        border: none;
        padding: 0;
        background-color: transparent;
        color: #EC4899;
        opacity: 50%;
        cursor: pointer;
        pointer-events: none;
      }
      
      .task__input:checked~.delete {
        pointer-events: auto;
        opacity: 100%;
      }
      
      .task__input:checked~.tasks__text {
        text-decoration: line-through;
        text-decoration-color: #EC4899;
      }